@import "formatting_only";

$colorlightgrey: lightgrey;
$standardwidth: 100%;
$colorblue: lightblue;
$colorpink: pink;
$colorgrey: grey;
$bordercolor: red;
$basicfontcolor: black;
$fontstack: Helvetica, sans-serif;
$fontweight: bold;
$radius:40px;
@mixin borderradius($radius){
 border-radius: $radius;

}
.topsection{
	@include borderradius($radius);
}
.mainsection{
	@include borderradius($radius);

}
.message{
	border: 2px solid #ccc;
	padding:15px;
	color: #333;
	margin: 5px;
}
.success{
	@extend .message;
	border: 2px solid green;

}
.error {
@extend .message;
	border: 2px solid red;

}
.warning{
	@extend .message;
	border: 2px solid yellow;

}
div.message p {
 text-align: center;

}

.topsection {
	width: $standardwidth;
	height: auto;
	background-color: $colorlightgrey;
}




.logotop{
	/* text-align: center; */
	
	/* transition: height: 4s ease-in: 2s;
	transition-delay: 2s; */
	/* this is the time it takes to rotate 180 deg ease-in defines the start to take 3s */
	transition: width 2s, height 2s, transform 5s;
	width: 200px;
	height: 200px;
}


.logotop:hover {
	width: 500px;
	height: 200px;
	transform: rotate(180deg);
}


ul {
	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: $colorblue;
	font-family: $alt-fontfamily;
	font-style: $fontstyle1;
}

li {
	display: inline-block;

}

li a {
	text-decoration: none;
	color: $basicfontcolor;
	font-style: $fontstyle2;

}

li a:hover {
	background-color: $colorpink;
	font-style: $fontstyle2
}
main{
	width: $standardwidth;
	height: auto;
}
main:hover{
	background-color: $colorgrey;
}

main a {
	display: block;
	text-decoration: none;
	background-color: $colorblue;
	color: $alt-fontcolor;
	font-family: $alt-fontfamily;
}

main a:hover {
	background-color: yellow;
	background-color: $colorlightgrey;
	color: white;
	border: 1px solid $bordercolor;
	font-size: 25px;
}

footer{
	border: 1px solid red;
	text-align: center;
}

footer:hover{
	background-color: $colorblue;
	border-radius: 50px;
	font-size: $secondary-fontsize;
}




